<div class="row-fluid">
  <div class="span10">
    <div class="hero-unit">
      <h1>About Application</h1>
      <p>The Hand Hygiene Survey app is based on the World Health Organization's <a href="http://www.who.int/gpsc/tools/Five_moments/en/" target="_blank">Five moments for hand hygiene</a>.</p>
      <p>This app is free and open source. You can <a href="https://github.com/andrewholgate" target="_blank">download the source code from Github</a></p>
      <p>The app was built by <a href="https://twitter.com/andrewholgate" target="_blank">Andrew Holgate</a> under the guidance of <a href="https://twitter.com/lararicotta" target="_blank" >Dr. Lara Ricotta</a>.</p>
      <p>Version: <%= version %></p>
    </div>
  </div>
</div>
