<div class="row-fluid">
  <div class="span10">
    <div class="hero-unit">
      <h1>Hand Hygiene Survey</h1>
      <%= elapsed %>
      <div class="btn-wide button-group">
        <div class="form-group">
          <a href="#/sessionstart" id="session" class="btn btn-primary btn-lg">Start New Session</a>
          <a href="#/survey" id="survey" class="btn btn-primary btn-lg">New Survey</a>
        </div>
        <div class="form-group">
          <a href="#/results" id="results" class="btn btn-default btn-lg">Session Results</a>
        </div>
        <div class="form-group">
          <a href="#/sessionend" id="session-end" class="btn btn-default btn-lg">End Session</a>
        </div>
      </div>
    </div>
  </div>
</div>
