<div class="row-fluid">
  <div class="span10">
    <div class="hero-unit">
      <h1>Session Department</h1>
      <div class="button-group btn-wide">
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Medical, inc. Dermatology, etc.</label>
            <input type="radio" name="session-name" value="medical" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Surgery inc. Neurosurgery, etc.</label>
            <input type="radio" name="session-name" value="surgery" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Mixed Medical &amp; Surgical</label>
            <input type="radio" name="session-name" value="medical-surgical" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Obstetrics</label>
            <input type="radio" name="session-name" value="obstetrics" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Paediatrics</label>
            <input type="radio" name="session-name" value="paediatrics" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Intensive Care &amp; Resuscitation</label>
            <input type="radio" name="session-name" value="intensive-care" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Emergency Unit</label>
            <input type="radio" name="session-name" value="emergency" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Long Term Care &amp; rehabilitation</label>
            <input type="radio" name="session-name" value="long-term-care" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Ambulatory Care</label>
            <input type="radio" name="session-name" value="ambulatory-care" />
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label class="btn btn-default btn-lg">Other</label>
            <input type="radio" name="session-name" value="other" />
          </div>
        </div>
      </div>
      <div class="form-group btn-pair" id="button-group">
        <a href="#/" class="btn btn-lg btn-default">Cancel</a>
        <a href="#/" id="start" role="button" class="btn btn-lg btn-primary">Start Session</a>
      </div>
    </div>
  </div>
</div>
